/* App.css or inlined in LoginPage.js */
.login-bg {
	background-image: url("https://e0.pxfuel.com/wallpapers/219/656/desktop-wallpaper-purple-color-background-best-for-your-mobile-tablet-explore-color-cool-color-colored-background-one-color-aesthetic-one-color.jpg");
	background-size: cover;
	background-position: center;
}
